{% extends 'base.html.twig' %}

{% block title %}Experts AAJ
{% endblock %}

{% block body %}
	{% apply inline_css(source("css/accueil.css"), source("css/accueil.css")) %}

	<body>
		<div class="mainbloc">
			<h1 class="maintitle">
				Aides aux démarches administratives et juridiques
			</h1>
		</div>

		<div class="Bloc1">

			<h2 class="bloc-container">Nos services
			</h2>
			<p class="deep1">
				Démarches administratives et juridiques pour Particuliers et Professionels
			</p>
			<p class="deep2">
				Tout besoin de domiciliation administrative pour Particuliers et entreprises
			</p>
			<p class="deep3">
				Tout service susceptible de contribuer à la réalisation, au développement ou à l'amélioration des conditions de vie des membres ou des adhérents.
			</p>
		</div>
		<div class="pres">
			<img src="{{ asset('images/Aide-juridique-Divorce.jpg') }}" alt="logo CAF">
		</div>
	</body>
	{% endapply %}
{% endblock %}
