form{
        margin: 0;
        padding: 0;
     
}

.btn{
    color: whitesmoke;
    background-color: rgb(33, 170, 161);

}

.title {
    
    font-family: 'helvetica', 'sans-serif';
    position: relative;
    top: 10;
    right: 10;
    margin : 50px;
}
.champ {
    font-family: 'helvetica', 'sans-serif';
    color: rgb(33, 170, 161);
    margin: 20px;
    display: inline-block;
}
.form-button {

    justify-content: center;
}
#submit {
    background-color: LimeGreen;
    border: solid LimeGreen 1px;
    border-radius: 5px;
}
.labels {
    width: 30%;
    background-color: Gainsboro;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
}
#registration_form_inscription{

    
    background: dodgerblue;
    margin: 1rem;
    padding: 10px;
}