
body{
    font-family: 'Anton', sans-serif;
}
footer {
    position: absolute;
   bottom:0;  /* on le colle en bas */
   width:100%;
      /* Hauteur du pied de page */
}
.Bloc1 {
    background-color: rgb(199, 61, 61);
    color: white;
    padding: 30px;

}
.button {
    margin: auto;
    width: 100px;
    display: flex;
}

.text-btn1 {
    color: white
}

