{% extends "base.html.twig" %}

{% block body %}
	{% apply inline_css(source("css/particuliers.css"), source("css/particuliers.css")) %}


	<header>
		<H1 class="title">
			Particuliers
			<H1></header>


			<div class="demAD">
				<h2>Démarches administratives</h2>
				<ul>
					<li class="nav-item">
						Déclaration CAF
					</li>
					<li class="nav-item">
						rédaction de courriers
					</li>
					<li class="nav-item">
						Déclaration d'embauche
					</li>
					<li class="nav-item">
						Déclaration fiscales

					</li>
					<li class="nav-item">
						Demande de retraite
					</li>
					<li class="nav-item">
						Demande CMU
					</li>
				</a>
			</li>
			<li class="nav-item">
				Demande carte vitale
			</li>
			<li class="nav-item">
				Demande de logement
			</li>
			<li class="nav-item">
				Ouverture de comptes bancaires en ligne
			</li>
			<li class="nav-item">
				Ouverture des droits sécurité sociale
			</li>
			<li class="nav-item">
				Création d'entreprise
			</li>
			<li class="nav-item">
				Aide à l'inscription au permis de conduire
			</li>

		</ul>

	</div>


	<div class="demJur">
		<h2>
			Démarches juridiques
		</H2>
		<ul>
			<li class="demJurLi">Renseignement sur les question de droit des affaires et de la famille</li>
			<li class="demJurLi">Orientation vers une assistance juridique en matière de : Divorce... etc</li>
			<li class="demJurLi">Orientation Vers un conseiller</li>

		</ul>
	</div>


	{% endapply %}


{% endblock %}
