{% extends "base.html.twig" %}

{% block body %}
	{% apply inline_css(source("css/particuliers.css"), source("css/particuliers.css")) %}

	<body>

		<main>

			<header>
				<H1 class="title">
					Particuliers
					<H1></header>


					<div class="demAD">
						<h2>Démarches administratives</h2>
						<ul>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Démarches administratives</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">rédaction de courriers</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Etablissement et règlement des factures</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Déclaration
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Réservation</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Avis</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">L'hôtel</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Actualités</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">Contact</a>
							</li>
						</ul>

					</div>


					<div class="demJur">
						<h2>
							Démarches juridiques
						</H2>
						<ul class="demJurLi">
							<li>Renseignement sur les question de droit des affaires et de la famille</li>
							<li>Orientation vers une assistance juridique en matière de : Divorce... etc</li>
							<li>Orientation Vers un conseiller</li>

						</ul>
					</div>


				</main>


			</body>


			{% endapply %}
		{% endblock %}
